In [8]:
import pandas as pd
# import dataframe gastos
df = pd.read_excel("../../vidhya/gastosPY.xlsx") # LOCAL DA SUA PLANILHA
#lista as colunas
print(df.columns)

Index(['id', 'date', 'id_category', 'category', 'id_product', 'product',
       'id_buytype', 'buytype', 'id_destination', 'destination', 'id_account',
       'account', 'price', 'id_installment', 'installment'],
      dtype='object')

In [9]:
from collections import defaultdict
# cria um dataframe apenas para o destino e o id
account_df = df[["id_account", "account"]]
# cria uma variável com a função defaultdict, para a criação das ids. É necessário o len(temp)+1 para o primeiro id ser 1.
temp = defaultdict(lambda: len(temp)+1)
# loop adicionando os ids conforme o elemento na coluna de destino
account_df["id_account"] = [temp[ele] for ele in account_df["account"]]
# aplica o id na coluna do dataframe original
df["id_account"] = account_df['id_account']
# apaga os valores nulos para o print de insert into
account_df = account_df.dropna().drop_duplicates()
# loop com o print dos resultados formatados para sql
print("INSERT INTO account\n\t\tVALUES", end=" ")
for i in account_df.index:
    print("(", account_df["id_account"][i],", '", account_df["account"][i], sep= "", end="'),\n\t\t")
print (";")

INSERT INTO account
		VALUES (1, 'Nubank Crédito'),
		(2, 'Nubank Débito'),
		(3, 'Boleto'),
		(4, 'Inter Crédito'),
		(5, 'Dinheiro'),
		(6, 'Pix'),
		;

C:\Users\julio\AppData\Local\Temp/ipykernel_4340/3850688323.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_df["id_account"] = [temp[ele] for ele in account_df["account"]]

In [10]:
# cria um dataframe apenas para o tipo de compra e o id
buytype_df = df[["id_buytype", "buytype"]]
# cria uma variável com a função defaultdict, para a criação das ids. É necessário outra variável temp para que o id não seja a continuação do anterior.
temp1 = defaultdict(lambda: len(temp1)+1)
# loop adicionando os ids conforme o elemento na coluna de destino
buytype_df["id_buytype"] = [temp1[ele] for ele in buytype_df["buytype"]]
# aplica o id na coluna do dataframe original
df["id_buytype"] = buytype_df['id_buytype']
# apaga os valores nulos e duplicados
buytype_df = buytype_df.dropna().drop_duplicates()
# loop com o print dos resultados formatados para sql
print("INSERT INTO buytype\n\t\tVALUES", end=" ")
for i in buytype_df.index:
    print("(", df["id_buytype"][i],", '", df["buytype"][i], sep= "", end="'),\n\t\t")
print (";")

INSERT INTO buytype
		VALUES (1, 'Internet'),
		(2, 'Pessoalmente'),
		(3, 'Assinatura'),
		;

C:\Users\julio\AppData\Local\Temp/ipykernel_4340/1439342370.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buytype_df["id_buytype"] = [temp1[ele] for ele in buytype_df["buytype"]]

In [11]:
# cria um dataframe apenas para o tipo de compra e o id
installment_df = df[["id_installment", "installment"]]
# cria uma variável com a função defaultdict, para a criação das ids. É necessário outra variável temp para que o id não seja a continuação do anterior.
temp2 = defaultdict(lambda: len(temp2)+1)
# loop adicionando os ids conforme o elemento na coluna de destino
installment_df["id_installment"] = [temp2[ele] for ele in installment_df["installment"]]
# aplica o id na coluna do dataframe original
df["id_installment"] = installment_df['id_installment']
# apaga os valores nulos e duplicados
installment_df = installment_df.dropna().drop_duplicates()
# loop com o print dos resultados formatados para sql
print("INSERT INTO installment\n\t\tVALUES", end=" ")
for i in installment_df.index:
    print("(", df["id_installment"][i],", '", df["installment"][i], sep= "", end="'),\n\t\t")
print (";")

INSERT INTO installment
		VALUES (1, '1'),
		(2, '2'),
		(3, '3'),
		(4, '4'),
		(5, '5'),
		(6, '6'),
		(7, '7'),
		(8, '8'),
		(9, '12'),
		(10, '9'),
		;

C:\Users\julio\AppData\Local\Temp/ipykernel_4340/3143043516.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  installment_df["id_installment"] = [temp2[ele] for ele in installment_df["installment"]]

In [12]:
# cria um dataframe apenas para a categoria e o id
category_df = df[["id_category", "category"]]
# cria uma variável com a função defaultdict, para a criação das ids. É necessário outra variável temp para que o id não seja a continuação do anterior.
temp3 = defaultdict(lambda: len(temp3)+1)
# loop adicionando os ids conforme o elemento na coluna de destino
category_df["id_category"] = [temp3[ele] for ele in category_df["category"]]
# aplica o id na coluna do dataframe original
df["id_category"] = category_df['id_category']
# apaga os valores nulos e duplicados
category_df = category_df.dropna().drop_duplicates()
# loop com o print dos resultados formatados para sql
print("INSERT INTO category\n\t\tVALUES", end=" ")
for i in category_df.index:
    print("(", df["id_category"][i],", '", df["category"][i], sep= "", end="'),\n\t\t")
print (";")

INSERT INTO category
		VALUES (1, 'Casa'),
		(2, 'Investimentos'),
		(3, 'Educação'),
		(4, 'Comunicação'),
		(5, 'Transporte'),
		(6, 'Cafés e Lanches'),
		(7, 'Lazer'),
		(8, 'Presentes'),
		(9, 'Saúde e Beleza'),
		(10, 'Pets'),
		(11, 'Streaming'),
		(12, 'Roupas'),
		(13, 'Bebidas'),
		(14, 'Azar'),
		;

C:\Users\julio\AppData\Local\Temp/ipykernel_4340/3151032866.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_df["id_category"] = [temp3[ele] for ele in category_df["category"]]

In [13]:
# cria um dataframe apenas para o destino e o id
destination_df = df[["destination", "id_destination"]]
# cria uma variável com a função defaultdict, para a criação das ids. É necessário outra variável temp para que o id não seja a continuação do anterior.
temp4 = defaultdict(lambda: len(temp4)+1)
# loop adicionando os ids conforme o elemento na coluna de destino
destination_df["id_destination"] = [temp4[ele] for ele in destination_df["destination"]]
# aplica o id na coluna do dataframe original
df['id_destination'] = destination_df['id_destination']
# apaga os valores nulos e duplicados
destination_df = destination_df.dropna().drop_duplicates()
# loop com o print dos resultados formatados para sql
print("INSERT INTO destination\n\t\tVALUES", end=" ")
for i in destination_df.index:
    print("(", df["id_destination"][i],", '", df["destination"][i], sep= "", end="'),\n\t\t")
print (";")

INSERT INTO destination
		VALUES (1, 'Amazon'),
		(2, 'Remessa Online'),
		(3, 'Univates'),
		(4, 'Nubank'),
		(5, 'Posto'),
		(6, 'Mercado'),
		(7, 'Riachuelo'),
		(8, 'Waterpik'),
		(9, 'Clear'),
		(10, 'Petiko'),
		(11, 'Disney'),
		(12, 'Inter'),
		(13, 'Edemárcio'),
		(14, 'Boticário'),
		(15, 'Adidas'),
		(16, 'Mercado Pago'),
		(17, 'Shopee'),
		(18, 'Picpay'),
		(19, 'Trullis'),
		(20, 'Farmácia'),
		(21, 'Guapofest'),
		(22, 'Facebook'),
		(23, 'Rogério'),
		(24, 'Easynvest'),
		(25, 'Padel'),
		(26, 'Sorveteria'),
		(27, 'Ologar'),
		(28, 'Plantando Vida'),
		(29, 'Renner'),
		(30, 'Casas Bahia'),
		(31, 'Marcito'),
		(32, 'Tropicaliente'),
		(33, 'Epic Games'),
		(34, 'Beto'),
		(35, 'Otorrino'),
		(36, 'Mercado Livre'),
		(37, 'Mathi'),
		(38, 'Bioelegance'),
		(39, 'Ponto Frio'),
		(40, 'Cardiologista'),
		(41, 'Kabum'),
		(42, 'Vinil na Net'),
		(43, 'Natália'),
		(44, 'Beach'),
		(45, 'Urologista'),
		(46, 'Bad Ideas Toys'),
		(47, 'LAF'),
		(48, 'Steam'),
		(49, 'Xôc's'),
		(50, 'Péricles'),
		(51, 'Rodrigo Gosmann'),
		(52, 'Zeto'),
		(53, 'Klaus'),
		(54, 'Praça'),
		(55, 'Pipa Jhou'),
		(56, 'Wonka'),
		(57, 'Leo Clube'),
		(58, 'Ortolan'),
		(59, 'Amigo Fiel'),
		(60, 'Bonato'),
		(61, 'Love'),
		(62, 'Di Nonno'),
		(63, 'Star'),
		(64, 'Bet365'),
		(65, 'Seco'),
		(66, 'DA Taylor e Fayol'),
		(67, 'Stazione 1808'),
		(68, 'Pássaro'),
		(69, 'Nike'),
		(70, 'Palamore'),
		(71, 'Binance'),
		(72, 'Arena POA'),
		(73, 'Rosinha'),
		(74, 'Mãe'),
		(75, 'TaQi'),
		(76, 'Madre Oliva'),
		(77, 'Super Paludo'),
		(78, 'Neide'),
		(79, 'Best Games'),
		(80, 'NDS Brechó'),
		(81, 'Severo Burger'),
		(82, 'Pedágio'),
		(83, 'Sassá'),
		(84, 'Belotti'),
		;

C:\Users\julio\AppData\Local\Temp/ipykernel_4340/1089950535.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  destination_df["id_destination"] = [temp4[ele] for ele in destination_df["destination"]]

In [14]:
# cria um dataframe apenas para o produto e o id
product_df = df[["product", "id_product"]]
# cria outra variável com a função defaultdict, para a criação das ids. É necessário outra variável temp para que o id não seja a continuação do anterior.
temp5 = defaultdict(lambda: len(temp5)+1)
# loop adicionando os ids conforme o elemento na coluna de produto
product_df["id_product"] = [temp5[ele] for ele in product_df["product"]]
# aplica o id na coluna do dataframe original
df["id_product"] = product_df["id_product"]
# apaga os valores nulos e duplicados
product_df = product_df.dropna().drop_duplicates()
# loop com o print dos resultados para conferência
print("INSERT INTO product\n\t\tVALUES", end=" ")
for i in product_df.index:
    print("(", product_df["id_product"][i],", '", product_df["product"][i], sep= "", end="'),\n\t\t")
print (";")

INSERT INTO product
		VALUES (1, 'Controle Remoto'),
		(2, 'Transferência'),
		(3, 'Faculdade'),
		(4, 'Recarga Celular'),
		(5, 'Gasolina'),
		(6, 'Café'),
		(7, 'Livros'),
		(8, 'Presente'),
		(9, 'Higiene'),
		(10, 'Box Petiko'),
		(11, 'DisneyPlus'),
		(12, 'Dentista'),
		(13, 'Disneyplus'),
		(14, 'Acessórios'),
		(15, 'Vestuário'),
		(16, 'Camisa Futebol'),
		(17, 'Farmácia'),
		(18, 'Cerveja'),
		(19, 'Brinquedos'),
		(20, 'Padel'),
		(21, 'Sorvete'),
		(22, 'Lanche'),
		(23, 'Cabelo'),
		(24, 'Colchonete'),
		(25, 'Jogo'),
		(26, 'Rifa'),
		(27, 'Consulta'),
		(28, 'Máscaras'),
		(29, 'Toca Disco'),
		(30, 'Disco de Vinil'),
		(31, 'Vôlei'),
		(32, 'Colecionável'),
		(33, 'Teste COVID'),
		(34, 'Cirurgia'),
		(35, 'Trabalho'),
		(36, 'Curso'),
		(37, 'Spotify'),
		(38, 'Paçoca'),
		(39, 'Fone sem fio'),
		(40, 'Prime'),
		(41, 'Combo Stream'),
		(42, 'Energético'),
		(43, 'Cachorro Quente'),
		(44, 'Ônibus'),
		(45, 'Utilidades'),
		(46, 'Anti Latido'),
		(47, 'Coleira'),
		(48, 'Janta'),
		(49, 'Aposta'),
		(50, 'Adestrador'),
		(51, 'Bebida'),
		(52, 'Estacionamento'),
		(53, 'Churrasco'),
		(54, 'Ingresso'),
		(55, 'Comida'),
		(56, 'Morango'),
		(57, 'Mercado'),
		(58, 'Película'),
		(59, 'Rolo de pão'),
		(60, 'Pedágio'),
		(61, 'Aula tênis'),
		(62, 'Chinelo'),
		(63, 'Bomba de ar'),
		(64, 'Raquete'),
		;

C:\Users\julio\AppData\Local\Temp/ipykernel_4340/1640005532.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_df["id_product"] = [temp5[ele] for ele in product_df["product"]]

# também é possível utilizar os seguintes comandos para criar um arquivo csv e conferir os resultados:

productFrame = pd.DataFrame.from_dict(product_df)

productFrame.to_csv('product_df.csv', index = False)

In [15]:
# adiciona o id na coluna apropriada
df["id"] = df.index+1

print("INSERT INTO operation\n\t\tVALUES ", end=" ")
for i in df.index:
    print("(", df["id"][i],", '", df["date"][i], "', ", df["price"][i], ", ", df["installment"][i], ", ",df["id_product"][i], ", ", df["id_category"][i], ", ", df["id_destination"][i], ", ", df["id_buytype"][i], ", ", df["id_account"][i], sep= "", end="),\n\t\t")
print (";")

INSERT INTO operation
		VALUES  (1, '2021-01-04 00:00:00', 105.13, 1, 1, 1, 1, 1, 1),
		(2, '2021-01-06 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(3, '2021-01-08 00:00:00', 1667.67, 1, 3, 3, 3, 1, 3),
		(4, '2021-01-10 00:00:00', 15.0, 1, 4, 4, 4, 1, 2),
		(5, '2021-01-11 00:00:00', 222.36, 1, 5, 5, 5, 2, 1),
		(6, '2021-01-11 00:00:00', 60.68, 1, 6, 6, 6, 2, 1),
		(7, '2021-01-13 00:00:00', 502.74, 1, 7, 7, 1, 1, 3),
		(8, '2021-01-13 00:00:00', 219.9, 1, 8, 8, 7, 1, 3),
		(9, '2021-01-13 00:00:00', 697.9, 1, 9, 9, 8, 1, 3),
		(10, '2021-01-13 00:00:00', 450.05, 1, 7, 7, 1, 1, 3),
		(11, '2021-01-14 00:00:00', 2000.0, 1, 2, 2, 9, 1, 2),
		(12, '2021-01-19 00:00:00', 79.9, 1, 10, 10, 10, 3, 1),
		(13, '2021-01-22 00:00:00', 15.0, 1, 4, 4, 4, 1, 2),
		(14, '2021-01-23 00:00:00', 18.6, 1, 11, 11, 11, 3, 1),
		(15, '2021-01-26 00:00:00', 12000.0, 1, 2, 2, 12, 1, 2),
		(16, '2021-02-02 00:00:00', 105.13, 2, 1, 1, 1, 1, 1),
		(17, '2021-02-05 00:00:00', 1657.67, 2, 3, 3, 3, 1, 3),
		(18, '2021-02-09 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(19, '2021-02-09 00:00:00', 1200.0, 1, 2, 2, 9, 1, 2),
		(20, '2021-02-09 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(21, '2021-02-09 00:00:00', 3172.0, 1, 12, 9, 13, 1, 2),
		(22, '2021-02-19 00:00:00', 79.9, 2, 10, 10, 10, 3, 1),
		(23, '2021-02-22 00:00:00', 62.85, 1, 8, 8, 14, 2, 1),
		(24, '2021-02-22 00:00:00', 18.6, 2, 13, 11, 11, 3, 1),
		(25, '2021-02-23 00:00:00', 15.0, 2, 4, 4, 4, 1, 1),
		(26, '2021-03-02 00:00:00', 62.85, 2, 8, 8, 14, 2, 1),
		(27, '2021-03-04 00:00:00', 92.67, 1, 7, 7, 1, 1, 4),
		(28, '2021-03-05 00:00:00', 79.0, 1, 14, 4, 1, 1, 4),
		(29, '2021-03-08 00:00:00', 1647.67, 3, 3, 3, 3, 1, 3),
		(30, '2021-03-09 00:00:00', 5900.0, 1, 2, 2, 9, 1, 2),
		(31, '2021-03-10 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(32, '2021-03-13 00:00:00', 141.75, 1, 7, 7, 1, 1, 1),
		(33, '2021-03-15 00:00:00', 99.07, 1, 7, 7, 1, 1, 4),
		(34, '2021-03-17 00:00:00', 249.99, 1, 15, 12, 15, 1, 4),
		(35, '2021-03-17 00:00:00', 3700.0, 2, 12, 9, 13, 1, 2),
		(36, '2021-03-18 00:00:00', 79.9, 3, 10, 10, 10, 3, 1),
		(37, '2021-03-18 00:00:00', 377.71, 1, 16, 12, 16, 1, 1),
		(38, '2021-03-19 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(39, '2021-03-24 00:00:00', 53.5, 1, 7, 7, 17, 1, 3),
		(40, '2021-03-24 00:00:00', 121.57, 1, 7, 7, 1, 1, 4),
		(41, '2021-03-24 00:00:00', 18.6, 3, 13, 11, 11, 3, 1),
		(42, '2021-03-24 00:00:00', 500.0, 1, 2, 2, 12, 1, 2),
		(43, '2021-03-25 00:00:00', 15.0, 2, 4, 4, 18, 1, 1),
		(44, '2021-04-01 00:00:00', 149.4, 1, 8, 8, 19, 2, 1),
		(45, '2021-04-01 00:00:00', 13.0, 1, 17, 9, 20, 2, 5),
		(46, '2021-04-03 00:00:00', 37.0, 1, 18, 13, 21, 2, 5),
		(47, '2021-04-05 00:00:00', 187.09, 1, 16, 12, 22, 1, 2),
		(48, '2021-04-06 00:00:00', 129.43, 1, 16, 12, 23, 2, 2),
		(49, '2021-04-08 00:00:00', 1647.67, 4, 3, 3, 3, 1, 3),
		(50, '2021-04-08 00:00:00', 4.99, 1, 4, 4, 18, 1, 1),
		(51, '2021-04-12 00:00:00', 141.75, 2, 7, 7, 1, 1, 1),
		(52, '2021-04-12 00:00:00', 30000.0, 1, 2, 2, 24, 1, 2),
		(53, '2021-04-14 00:00:00', 26.82, 1, 19, 10, 10, 1, 3),
		(54, '2021-04-17 00:00:00', 249.99, 2, 15, 12, 15, 1, 4),
		(55, '2021-04-17 00:00:00', 51.27, 1, 17, 9, 20, 2, 1),
		(56, '2021-04-18 00:00:00', 79.9, 4, 10, 10, 10, 3, 1),
		(57, '2021-04-19 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(58, '2021-04-22 00:00:00', 18.6, 4, 13, 11, 11, 3, 1),
		(59, '2021-04-23 00:00:00', 61.06, 1, 7, 7, 1, 1, 4),
		(60, '2021-04-25 00:00:00', 22.97, 1, 17, 9, 20, 2, 5),
		(61, '2021-04-26 00:00:00', 14.99, 2, 4, 4, 18, 1, 1),
		(62, '2021-04-28 00:00:00', 631.98, 1, 15, 12, 15, 1, 4),
		(63, '2021-05-01 00:00:00', 25.0, 1, 20, 7, 25, 2, 5),
		(64, '2021-05-02 00:00:00', 29.5, 1, 21, 6, 26, 2, 5),
		(65, '2021-05-06 00:00:00', 1647.67, 5, 3, 3, 3, 1, 3),
		(66, '2021-05-07 00:00:00', 26.5, 1, 22, 6, 27, 2, 5),
		(67, '2021-05-07 00:00:00', 216.0, 1, 8, 8, 28, 2, 5),
		(68, '2021-05-09 00:00:00', 13.5, 1, 4, 4, 18, 1, 1),
		(69, '2021-05-10 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(70, '2021-05-13 00:00:00', 174.61, 1, 15, 12, 29, 1, 1),
		(71, '2021-05-14 00:00:00', 44.8, 1, 8, 8, 1, 1, 4),
		(72, '2021-05-14 00:00:00', 117.13, 1, 8, 8, 30, 1, 4),
		(73, '2021-05-14 00:00:00', 30.0, 1, 23, 9, 31, 2, 5),
		(74, '2021-05-15 00:00:00', 38.0, 1, 22, 6, 32, 2, 5),
		(75, '2021-05-15 00:00:00', 25.0, 1, 20, 7, 25, 2, 5),
		(76, '2021-05-18 00:00:00', 79.9, 5, 10, 10, 10, 3, 1),
		(77, '2021-05-19 00:00:00', 32.44, 1, 24, 7, 17, 1, 1),
		(78, '2021-05-21 00:00:00', 29.99, 1, 25, 7, 33, 1, 1),
		(79, '2021-05-22 00:00:00', 18.6, 5, 13, 11, 11, 3, 1),
		(80, '2021-05-25 00:00:00', 30.0, 1, 26, 14, 34, 2, 5),
		(81, '2021-05-25 00:00:00', 36000.0, 1, 2, 2, 12, 1, 2),
		(82, '2021-05-26 00:00:00', 5.8, 2, 4, 4, 18, 1, 1),
		(83, '2021-05-29 00:00:00', 56.5, 1, 17, 9, 20, 2, 5),
		(84, '2021-05-29 00:00:00', 25.0, 1, 20, 7, 25, 2, 5),
		(85, '2021-05-31 00:00:00', 180.0, 1, 27, 9, 35, 2, 5),
		(86, '2021-05-31 00:00:00', 95.5, 1, 17, 9, 20, 2, 5),
		(87, '2021-05-31 00:00:00', 51.98, 1, 1, 1, 36, 1, 1),
		(88, '2021-06-02 00:00:00', 174.61, 2, 15, 12, 29, 1, 1),
		(89, '2021-06-02 00:00:00', 51.98, 2, 1, 1, 36, 1, 1),
		(90, '2021-06-04 00:00:00', 14.0, 1, 22, 6, 27, 2, 5),
		(91, '2021-06-05 00:00:00', 17.0, 1, 22, 6, 32, 2, 5),
		(92, '2021-06-05 00:00:00', 136.15, 1, 18, 13, 36, 1, 1),
		(93, '2021-06-07 00:00:00', 1647.67, 6, 3, 3, 3, 1, 3),
		(94, '2021-06-07 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(95, '2021-06-08 00:00:00', 182.5, 1, 15, 12, 15, 1, 1),
		(96, '2021-06-09 00:00:00', 14.99, 1, 4, 4, 18, 1, 1),
		(97, '2021-06-12 00:00:00', 22.0, 1, 8, 8, 37, 1, 2),
		(98, '2021-06-14 00:00:00', 117.13, 2, 8, 8, 30, 1, 4),
		(99, '2021-06-12 00:00:00', 25.0, 1, 20, 7, 25, 2, 5),
		(100, '2021-06-16 00:00:00', 1000.0, 3, 12, 9, 13, 2, 5),
		(101, '2021-06-17 00:00:00', 50.0, 1, 28, 9, 38, 2, 5),
		(102, '2021-06-17 00:00:00', 8.0, 2, 4, 4, 16, 1, 2),
		(103, '2021-06-17 00:00:00', 79.9, 6, 10, 10, 10, 3, 1),
		(104, '2021-06-19 00:00:00', 22.0, 1, 20, 7, 25, 2, 5),
		(105, '2021-06-21 00:00:00', 18.6, 6, 13, 11, 11, 3, 1),
		(106, '2021-06-23 00:00:00', 449.1, 1, 29, 7, 39, 1, 4),
		(107, '2021-06-23 00:00:00', 159.06, 1, 30, 7, 1, 1, 4),
		(108, '2021-06-29 00:00:00', 330.0, 1, 27, 9, 40, 2, 5),
		(109, '2021-06-30 00:00:00', 774.46, 1, 8, 8, 41, 1, 3),
		(110, '2021-07-01 00:00:00', 7000.0, 1, 2, 2, 24, 1, 2),
		(111, '2021-07-02 00:00:00', 174.61, 3, 15, 12, 29, 1, 1),
		(112, '2021-07-02 00:00:00', 182.49, 2, 15, 12, 15, 1, 1),
		(113, '2021-07-03 00:00:00', 74.5, 1, 18, 13, 21, 2, 5),
		(114, '2021-07-05 00:00:00', 80.28, 1, 30, 7, 42, 1, 2),
		(115, '2021-07-06 00:00:00', 1976.36, 1, 3, 3, 3, 1, 3),
		(116, '2021-07-08 00:00:00', 15.0, 1, 4, 4, 18, 1, 1),
		(117, '2021-07-11 00:00:00', 85.0, 1, 8, 8, 43, 1, 2),
		(118, '2021-07-14 00:00:00', 117.13, 3, 8, 8, 30, 1, 4),
		(119, '2021-07-15 00:00:00', 180.0, 1, 27, 9, 35, 2, 5),
		(120, '2021-07-17 00:00:00', 1200.0, 4, 12, 9, 13, 2, 5),
		(121, '2021-07-18 00:00:00', 20.0, 1, 31, 7, 44, 2, 5),
		(122, '2021-07-21 00:00:00', 300.0, 1, 27, 9, 45, 2, 5),
		(123, '2021-07-22 00:00:00', 18.6, 7, 13, 11, 11, 3, 1),
		(124, '2021-07-22 00:00:00', 15.0, 2, 4, 4, 18, 1, 1),
		(125, '2021-07-23 00:00:00', 159.05, 2, 30, 7, 1, 1, 4),
		(126, '2021-07-23 00:00:00', 101.5, 1, 17, 9, 20, 2, 5),
		(127, '2021-07-25 00:00:00', 14.0, 1, 18, 13, 37, 1, 2),
		(128, '2021-07-27 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(129, '2021-07-27 00:00:00', 185.0, 1, 32, 1, 46, 1, 2),
		(130, '2021-07-28 00:00:00', 150.0, 1, 33, 9, 47, 2, 5),
		(131, '2021-07-31 00:00:00', 43.02, 1, 25, 7, 48, 1, 2),
		(132, '2021-08-02 00:00:00', 182.49, 3, 15, 12, 15, 1, 1),
		(133, '2021-08-06 00:00:00', 1976.36, 2, 3, 3, 3, 1, 3),
		(134, '2021-08-08 00:00:00', 15.0, 1, 22, 6, 49, 2, 5),
		(135, '2021-08-09 00:00:00', 6.95, 1, 4, 4, 18, 1, 1),
		(136, '2021-08-10 00:00:00', 30.0, 1, 23, 9, 31, 2, 5),
		(137, '2021-08-18 00:00:00', 3500.0, 1, 34, 9, 50, 2, 2),
		(138, '2021-08-18 00:00:00', 12.5, 1, 35, 3, 51, 1, 2),
		(139, '2021-08-20 00:00:00', 18.6, 8, 13, 11, 11, 3, 1),
		(140, '2021-08-20 00:00:00', 493.26, 1, 7, 7, 1, 1, 4),
		(141, '2021-08-23 00:00:00', 159.05, 3, 30, 7, 1, 1, 4),
		(142, '2021-08-24 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(143, '2021-08-25 00:00:00', 3500.0, 1, 2, 2, 9, 1, 2),
		(144, '2021-08-26 00:00:00', 14.99, 2, 4, 4, 18, 1, 1),
		(145, '2021-08-29 00:00:00', 19.5, 1, 18, 13, 27, 2, 5),
		(146, '2021-09-02 00:00:00', 182.49, 4, 15, 12, 15, 1, 1),
		(147, '2021-09-02 00:00:00', 1500.0, 1, 2, 2, 12, 1, 2),
		(148, '2021-09-03 00:00:00', 1976.36, 3, 3, 3, 3, 1, 3),
		(149, '2021-09-04 00:00:00', 46.0, 1, 22, 6, 32, 2, 5),
		(150, '2021-09-04 00:00:00', 20.0, 1, 18, 13, 52, 2, 5),
		(151, '2021-09-04 00:00:00', 16.99, 1, 17, 9, 20, 2, 5),
		(152, '2021-09-06 00:00:00', 116.37, 1, 36, 3, 53, 1, 4),
		(153, '2021-09-08 00:00:00', 39.6, 12, 37, 11, 52, 1, 2),
		(154, '2021-09-08 00:00:00', 2.0, 1, 38, 6, 54, 2, 5),
		(155, '2021-09-08 00:00:00', 3.0, 1, 6, 6, 55, 2, 5),
		(156, '2021-09-09 00:00:00', 18.13, 1, 39, 7, 17, 1, 3),
		(157, '2021-09-10 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(158, '2021-09-15 00:00:00', 3.0, 1, 6, 6, 55, 2, 5),
		(159, '2021-09-16 00:00:00', 1200.0, 5, 12, 9, 13, 2, 5),
		(160, '2021-09-18 00:00:00', 18.6, 9, 13, 11, 11, 3, 1),
		(161, '2021-09-19 00:00:00', 89.0, 12, 40, 11, 1, 3, 1),
		(162, '2021-09-21 00:00:00', 0.5, 1, 41, 11, 36, 3, 1),
		(163, '2021-09-24 00:00:00', 15.0, 2, 4, 4, 4, 1, 1),
		(164, '2021-09-25 00:00:00', 20.0, 1, 36, 3, 56, 1, 2),
		(165, '2021-09-28 00:00:00', 25.0, 1, 8, 8, 37, 1, 2),
		(166, '2021-10-01 00:00:00', 20.0, 1, 42, 6, 27, 2, 5),
		(167, '2021-10-02 00:00:00', 30.0, 1, 43, 6, 57, 2, 5),
		(168, '2021-10-04 00:00:00', 1976.36, 4, 3, 3, 3, 1, 3),
		(169, '2021-10-06 00:00:00', 1000.0, 1, 2, 2, 12, 1, 2),
		(170, '2021-10-07 00:00:00', 2.5, 1, 6, 6, 55, 2, 5),
		(171, '2021-10-07 00:00:00', 302.0, 1, 44, 5, 58, 1, 3),
		(172, '2021-10-07 00:00:00', 122.53, 1, 45, 1, 17, 1, 3),
		(173, '2021-10-08 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(174, '2021-10-11 00:00:00', 63.0, 1, 19, 10, 59, 2, 5),
		(175, '2021-10-16 00:00:00', 50.0, 1, 22, 6, 60, 2, 5),
		(176, '2021-10-18 00:00:00', 1200.0, 6, 12, 9, 13, 2, 5),
		(177, '2021-10-20 00:00:00', 247.5, 1, 8, 8, 61, 2, 5),
		(178, '2021-10-21 00:00:00', 13.9, 2, 41, 11, 36, 3, 1),
		(179, '2021-10-21 00:00:00', 15.0, 2, 4, 4, 4, 1, 1),
		(180, '2021-10-23 00:00:00', 43.97, 1, 17, 9, 20, 2, 5),
		(181, '2021-10-23 00:00:00', 17.0, 1, 18, 13, 27, 2, 1),
		(182, '2021-10-26 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(183, '2021-10-28 00:00:00', 120.46, 1, 46, 10, 1, 1, 4),
		(184, '2021-10-28 00:00:00', 63.16, 1, 7, 7, 1, 1, 4),
		(185, '2021-10-28 00:00:00', 41.13, 1, 47, 10, 17, 1, 3),
		(186, '2021-10-28 00:00:00', 3.0, 1, 6, 6, 55, 2, 5),
		(187, '2021-10-30 00:00:00', 139.0, 1, 48, 6, 62, 2, 5),
		(188, '2021-11-02 00:00:00', 17.2, 1, 21, 6, 63, 2, 5),
		(189, '2021-11-03 00:00:00', 20.0, 1, 49, 14, 64, 1, 5),
		(190, '2021-11-04 00:00:00', 1976.36, 5, 3, 3, 3, 1, 3),
		(191, '2021-11-04 00:00:00', 3.0, 1, 6, 6, 55, 2, 5),
		(192, '2021-11-05 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(193, '2021-11-09 00:00:00', 256.0, 2, 44, 5, 58, 1, 3),
		(194, '2021-11-09 00:00:00', 350.0, 1, 50, 10, 65, 1, 5),
		(195, '2021-11-12 00:00:00', 20.0, 1, 15, 12, 66, 1, 2),
		(196, '2021-11-12 00:00:00', 97.79, 1, 10, 10, 10, 3, 4),
		(197, '2021-11-14 00:00:00', 63.0, 1, 48, 6, 67, 2, 5),
		(198, '2021-11-16 00:00:00', 72.0, 1, 18, 13, 37, 2, 2),
		(199, '2021-11-17 00:00:00', 4500.0, 1, 2, 2, 2, 1, 2),
		(200, '2021-11-17 00:00:00', 3.0, 1, 6, 6, 55, 2, 5),
		(201, '2021-11-21 00:00:00', 13.9, 3, 41, 11, 36, 3, 1),
		(202, '2021-11-22 00:00:00', 61.07, 1, 51, 13, 68, 2, 5),
		(203, '2021-11-22 00:00:00', 15.0, 2, 4, 4, 4, 1, 1),
		(204, '2021-11-26 00:00:00', 323.39, 1, 7, 7, 1, 1, 4),
		(205, '2021-11-26 00:00:00', 273.46, 1, 30, 7, 42, 1, 4),
		(206, '2021-11-29 00:00:00', 7.0, 1, 6, 6, 55, 2, 5),
		(207, '2021-11-29 00:00:00', 7.5, 1, 52, 5, 3, 2, 1),
		(208, '2021-11-29 00:00:00', 173.99, 1, 15, 12, 69, 1, 4),
		(209, '2021-12-04 00:00:00', 108.0, 1, 53, 6, 37, 1, 2),
		(210, '2021-12-04 00:00:00', 112.0, 1, 18, 13, 21, 2, 5),
		(211, '2021-12-06 00:00:00', 154.0, 1, 8, 8, 70, 2, 2),
		(212, '2021-12-06 00:00:00', 1946.36, 6, 3, 3, 3, 1, 3),
		(213, '2021-12-07 00:00:00', 2100.0, 1, 2, 2, 71, 1, 2),
		(214, '2021-12-07 00:00:00', 10.0, 1, 22, 6, 54, 2, 5),
		(215, '2021-12-07 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(216, '2022-12-07 00:00:00', 279.0, 3, 44, 5, 58, 1, 3),
		(217, '2021-12-08 00:00:00', 60.0, 1, 54, 7, 72, 1, 1),
		(218, '2021-12-09 00:00:00', 28.0, 1, 55, 6, 72, 2, 5),
		(219, '2021-12-09 00:00:00', 22.0, 1, 55, 6, 73, 2, 5),
		(220, '2021-12-09 00:00:00', 50.0, 1, 49, 14, 64, 1, 5),
		(221, '2021-12-11 00:00:00', 2500.0, 1, 2, 14, 71, 1, 2),
		(222, '2021-12-11 00:00:00', 12.0, 1, 42, 6, 27, 2, 5),
		(223, '2021-12-15 00:00:00', 30.0, 1, 56, 6, 74, 2, 5),
		(224, '2021-12-17 00:00:00', 30.0, 1, 23, 9, 31, 2, 5),
		(225, '2021-12-18 00:00:00', 118.0, 1, 8, 8, 28, 2, 5),
		(226, '2021-12-18 00:00:00', 233.0, 1, 8, 8, 75, 2, 5),
		(227, '2021-12-18 00:00:00', 50.0, 1, 8, 8, 6, 2, 1),
		(228, '2021-12-19 00:00:00', 13.9, 4, 41, 11, 36, 3, 1),
		(229, '2021-12-21 00:00:00', 2500.0, 1, 2, 14, 71, 1, 2),
		(230, '2021-12-22 00:00:00', 15.0, 2, 4, 4, 4, 1, 1),
		(231, '2021-12-22 00:00:00', 186.0, 1, 48, 6, 76, 2, 5),
		(232, '2022-12-12 00:00:00', 97.79, 2, 10, 10, 10, 3, 4),
		(233, '2021-12-30 00:00:00', 174.0, 2, 15, 12, 69, 1, 4),
		(234, '2022-12-30 00:00:00', 174.02, 1, 57, 6, 77, 2, 1),
		(235, '2021-12-31 00:00:00', 323.38, 2, 7, 7, 1, 1, 4),
		(236, '2022-12-31 00:00:00', 2.62, 1, 57, 6, 77, 2, 1),
		(237, '2022-01-01 00:00:00', 70.0, 1, 17, 9, 78, 2, 5),
		(238, '2022-01-05 00:00:00', 30.0, 1, 58, 4, 79, 2, 5),
		(239, '2022-01-05 00:00:00', 3500.0, 1, 2, 2, 24, 1, 2),
		(240, '2022-01-06 00:00:00', 118.0, 4, 44, 5, 58, 1, 3),
		(241, '2022-01-06 00:00:00', 15.0, 1, 4, 4, 4, 1, 1),
		(242, '2022-01-06 00:00:00', 114.33, 1, 15, 12, 80, 1, 6),
		(243, '2022-01-07 00:00:00', 17.0, 1, 59, 1, 17, 1, 5),
		(244, '2022-01-09 00:00:00', 100.0, 1, 5, 5, 5, 2, 5),
		(245, '2022-01-12 00:00:00', 62.0, 1, 48, 6, 81, 2, 5),
		(246, '2022-01-12 00:00:00', 5.2, 1, 60, 5, 82, 2, 5),
		(247, '2022-01-13 00:00:00', 97.79, 3, 10, 10, 10, 3, 4),
		(248, '2022-01-18 00:00:00', 30.0, 1, 61, 7, 83, 2, 5),
		(249, '2022-01-19 00:00:00', 13.9, 5, 41, 11, 36, 3, 1),
		(250, '2022-01-21 00:00:00', 900.0, 1, 50, 10, 84, 2, 6),
		(251, '2022-01-21 00:00:00', 38.0, 1, 48, 6, 37, 2, 6),
		(252, '2022-01-25 00:00:00', 15.0, 2, 4, 4, 4, 1, 1),
		(253, '2022-01-25 00:00:00', 60.0, 7, 12, 9, 13, 2, 5),
		(254, '2022-01-25 00:00:00', 50.18, 1, 62, 1, 17, 1, 3),
		(255, '2022-01-25 00:00:00', 30.51, 1, 63, 1, 17, 1, 3),
		(256, '2022-01-25 00:00:00', 50.0, 2, 61, 7, 83, 2, 5),
		(257, '2022-01-25 00:00:00', 250.0, 1, 64, 7, 83, 2, 6),
		;